---
import ExperienceItem from "./ExperienceItem.astro"
import Link from "./icons/Link.astro"
const EXPERIENCE = [
  {
    date: "Jul 2024 - Dic 2024",
    title: "Apoyo Técnico",
    company: "Sena Emprendimiento Regional",
    description:
      "Desarrollo de una plataforma Marketplace con soluciones robustas en PHP, JavaScript y SQL. Implementación de funcionalidades clave con tecnologías web modernas, garantizando la seguridad de la información y la gestión de la documentación técnica.",
    link: "https://www.sena.edu.co/es-co/trabajo/Paginas/fondo-emprender.aspx",
  },
  {
    date: "Septiembre 2022",
    title: "Desarrollador Backend",
    company: "TPD Industrial",
    description:
      "Ejecución de la migración de servicios web en Java, aplicando mejores prácticas de desarrollo y asegurando la continuidad operativa durante la transición. Optimización del rendimiento de las aplicaciones y desarrollo de soluciones escalables que mejoraron la eficiencia de los procesos empresariales. Colaboración en la documentación técnica y en la implementación de estándares de calidad en el desarrollo de software.",
    link: "https://tpdindustrial.co/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
